body {
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
}
.phone {
  position:relative;
  width:295px;
  height:650px;
  background: #000;
  border-radius:40px;
}
.phone-screen {
  position:absolute;
  top: 20px;
  bottom:20px;
  right:6px;
  left:6px;
  background:#fff;
  border-radius:20px;
}
.phone-buttons{
  width:
  display:grid;
  grid-template-columns: repeat(3 1fr);
  border:0;
}
.btn{
  height:45px;
  font-size:1em;
  border:none;
  border-radius:100%
}
// had to pause cause my pc was running low.